body {
	padding-top: 61px;
}
#container {
	background-color: #222;
	background-image: url(../img/body-texture.png);
	min-height: 100%;
}
#header {
	background-color: #900;
	background-image: url(../img/header-texture.png);
	border-bottom: 1px solid #111;
	color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
#header h1 {
	font-family: "Lora",serif;
	font-size: 20px;
	margin: 0;
	line-height: 60px;
}
#header h1 a {
	color: #fff;
}
#header h1 small {
	font-family: "Lato",sans-serif;
	text-transform: uppercase;
	text-align: right;
	color: #a3a3a3;
	line-height: 60px;
	float: right;
}
#banner img {
	max-width: 100%;
}
	.slidewrapper {
		position: relative;
		font-size: 48px;
		color: #fff;
		z-index: 5;
	}
	.slidewrapper .slide {
		display: none;
		position: absolute;
		top: 0;
	}
	.slidewrapper img:first-child {
		display: block;
	}
	.slidewrapper i {
		position: absolute;
		top: 40%;
		cursor: pointer;
		z-index: 7;
	}
	.slidewrapper .prev {
		left: 15px;
	}
	.slidewrapper .next {
		right: 15px;
	}
#menu {
	background-color: #191919;
	background-image: url(../img/menu-texture.png);
	border-bottom: 1px solid #222;
	color: #fff;
	text-align: center;
	font-family: "Lora",serif;
	font-size: 14px;
	width: 100%;
	position: relative;
	z-index: 1;
}
#menu .menu-toggle {
	line-height: 40px;
	cursor: pointer;
}
#menu .menu-toggle li {
	line-height: 30px;
}
#menu .list-inline > li {
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
}
#menu a {
	color: #fff;
	text-decoration: none;
}
#menu .active > a, #menu a:hover {
	color: #a3a3a3;
}
#content {
	color: #fff;
	font-family: Times,Georgia,Courier,serif;
}
	#content img {
		max-width: 100%;
	}
	.month-selector a {
		color: #fff;
	}
	.month-selector a:hover {
		color: #a3a3a3;
	}
	.calendar {
		margin-top: 15px;
	}
	.calendar th {
		font-size: 18px;
		text-align: center;
	}
	.calendar td.day-full, .calendar td.day-partial, .calendar td.day-empty {
		font-size: 16px;
		text-align: center;
		color: #fff;
		border: 1px solid #ddd;
	}
	.calendar td.day-full {
		background-color: #802424;
	}
	.calendar td.day-partial {
		background-color: #994014;
	}
	.calendar td.day-empty {
		background-color: #0D3009;
	}
#footer {
	margin-top: 15px;
	background-color: #900;
	background-image: url(../img/header-texture.png);
	border-top: 1px solid #111;
	color: #fff;
	line-height: 80px;
}
#footer small {
	color: #a3a3a3;
}